@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
* {
    margin: 0;
    padding: 0;
    background: #393E46;
    font-family: 'Baloo Bhai 2', cursive;
    color: chocolate;
    border-radius: 10px;
}

.new {
    display: inline-flex;
    /* flex-direction: column; */
    /* max-width: fit-content; */
    text-align: center;
    margin: 20px;
    box-shadow: 0px 0px 8px 2px white;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    text-align: center;
}

input {
    border: none;
    box-shadow: 0px 0px 18px 3px #0000002e;
    border-radius: 10px;
    text-align: center;
    width: 186px;
    outline: none;
    height: 33px;
    /* margin-bottom: 10px; */
}

.top {
    box-shadow: 0px 0px 9px 1px white;
    border-radius: 10px;
    height: 124px;
    width: 259px;
    /* margin-bottom: 10px; */
    margin: 20px auto;
}